# Supabase Configuration
# Obtener estos valores desde: https://app.supabase.com/project/_/settings/api
VITE_SUPABASE_URL=https://yggxulnsniwlrmourssz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnZ3h1bG5zbml3bHJtb3Vyc3N6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NDg3NDIsImV4cCI6MjA4ODEyNDc0Mn0.Pk2e4lwuS4tSnnm6YtNsC-7YWcZqM_HideRRRJ4_sTM

# App Configuration
VITE_APP_NAME=Sistema Horas Hortícola
VITE_APP_VERSION=1.0.0
